rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if true;
    }

    match /transactions/{trxId} {
      allow read, write: if true;
    }

    match /support_rooms/{roomId} {
      allow read, write: if true;
    }

    match /support_messages/{messageId} {
      allow read, write: if true;
    }
  }
}
